# **Carga de datos paises y pasajeros**

## Descarga de paquetes

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 4.4 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99970 sha256=bf7be0b0c55a21e5003882d81b83eedf528f8640edccf177d5f28497b7c24b3d
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

## Librerias

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

## Lectura de datos
El csv de países lo hemos limpiado previamente en el notebook de countries y el de pasajeros lo obtuvimos directamente

In [ ]:
paises = pd.read_csv("/content/drive/MyDrive/IMF/M3 - La ciencia de datos. Técnicas de análisis, minería y visualización/paises.csv")
paises.head()

   country_id country_code         name continent
0        2000           AF  Afghanistan        AS
1        2001           AL      Albania        EU
2        2002           DE      Germany        EU
3        2003           DZ      Algeria        AF
4        2004           AD      Andorra        EU

In [ ]:
pax_routes = pd.read_csv("/content/drive/MyDrive/IMF/M3 - La ciencia de datos. Técnicas de análisis, minería y visualización/pax_routes_years.csv")
pax_routes.head()

,Unnamed: 0,routeID,airport_from,airport_to,pax_2019,pax_2020,pax_2021,pax_2022
0,0,28513,ORD,ABE,699262,371321,646440,523121
1,1,28514,ORD,ABQ,647558,237392,369242,746910
2,2,28515,ORD,ACK,388261,231902,444266,428671
3,3,28516,ORD,ADD,280964,131847,232302,305641
4,4,28517,ORD,AEL,67535,16524,217496,296548

Realizamos una pequeña limpieza de pasajeros para que tenga el formato adecuado para su carga en mySQL

In [ ]:
pax_routes = pax_routes.drop(["Unnamed: 0"], axis=1)
pax_routes= pax_routes.rename(columns={"routeID": "route_id","airport_from": "from", "airport_to": "to"})
pax_routes

      route_id from   to  pax_2019  pax_2020  pax_2021  pax_2022
0        28513  ORD  ABE    699262    371321    646440    523121
1        28514  ORD  ABQ    647558    237392    369242    746910
2        28515  ORD  ACK    388261    231902    444266    428671
3        28516  ORD  ADD    280964    131847    232302    305641
4        28517  ORD  AEL     67535     16524    217496    296548
...        ...  ...  ...       ...       ...       ...       ...
1609     29216  SFO  MAD     71867     34449    289980    303504
1610     29402  EWR  MAD    696818    158983    441740    753533
1611     29510  MVD  MAD    664959    203376    476924    621384
1612     29719  CCS  MAD    136223     38980    123880    255087
1613     29787  HAN  MAD     50648     19264    176620    255964

[1614 rows x 7 columns]

Eliminamos los duplicados en el conjunto de datos from-to así no tenemos rutas iguales con distinta infromación

In [ ]:
pax_routes = pax_routes.drop_duplicates(subset=['from','to'],keep='last').reset_index(drop=True)
pax_routes

      route_id from   to  pax_2019  pax_2020  pax_2021  pax_2022
0        28513  ORD  ABE    699262    371321    646440    523121
1        28514  ORD  ABQ    647558    237392    369242    746910
2        28515  ORD  ACK    388261    231902    444266    428671
3        28516  ORD  ADD    280964    131847    232302    305641
4        28517  ORD  AEL     67535     16524    217496    296548
...        ...  ...  ...       ...       ...       ...       ...
1594     29216  SFO  MAD     71867     34449    289980    303504
1595     29402  EWR  MAD    696818    158983    441740    753533
1596     29510  MVD  MAD    664959    203376    476924    621384
1597     29719  CCS  MAD    136223     38980    123880    255087
1598     29787  HAN  MAD     50648     19264    176620    255964

[1599 rows x 7 columns]

In [ ]:
#Creando indices unicos
for i in range(0,len(pax_routes)):
    pax_routes["route_id"] = pax_routes["route_id"].replace(pax_routes["route_id"][i], i+1000)
    
pax_routes

      route_id from   to  pax_2019  pax_2020  pax_2021  pax_2022
0         1000  ORD  ABE    699262    371321    646440    523121
1         1001  ORD  ABQ    647558    237392    369242    746910
2         1002  ORD  ACK    388261    231902    444266    428671
3         1003  ORD  ADD    280964    131847    232302    305641
4         1004  ORD  AEL     67535     16524    217496    296548
...        ...  ...  ...       ...       ...       ...       ...
1594      2594  SFO  MAD     71867     34449    289980    303504
1595      2595  EWR  MAD    696818    158983    441740    753533
1596      2596  MVD  MAD    664959    203376    476924    621384
1597      2597  CCS  MAD    136223     38980    123880    255087
1598      2598  HAN  MAD     50648     19264    176620    255964

[1599 rows x 7 columns]

# Conexión a mySQL

Un MySQLCursor crea instancias de objetos que pueden ejecutar operaciones querys SQL. Los objetos de cursor interactúan con el servidor MySQL usando un objeto MySQLConnection.

In [ ]:
dw = mysql.connector.connect(
    host="35.240.116.63",
    user="IMFds_g2_g1",
    password="g2_g1_689",
    database="imf_g2"   
)

user='IMFds_g2_g1'
print(dw)

cursor=dw.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe886b41390>

Para crear la conexión para la carga lo hacemos con un engine configurado de la siguiente forma:

Username : Password @ Hostname / Schema

In [ ]:
engine = create_engine("mysql+mysqldb://IMFds_g2_g1:g2_g1_689@35.240.116.63/imf_g2")

Enviamos el csv a las tablas correspondientes a traves del engine, si ya tiene un indice le indicamos que lo reemplace y que no cree ningún índice

In [ ]:
paises.to_sql('g1_countries', con=engine, if_exists='replace',index=False)

In [ ]:
pax_routes.to_sql('g1_routes', con=engine, if_exists='replace',index=False)